.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.form-container {
    width: 400px;
    margin: auto;
    height: auto;
}

h1 {
    margin: 30px;
    padding: 20px;
}

.ui .error .message{
    margin-bottom: 20px !important;
}

.deleteButton {
    float: right;
}
.deleteIcon {
    margin: 0;
}

.editButton {
    float: right;
}
.editIcon {
    margin: 0;
}

.ui.teal.button:focus, .ui.teal.buttons .button:focus {
    background-color: #00b5ad;
}

.image-max-height {
    max-height: 350px !important;
}